.cart-container{
	align-items: center;
	background-color: #ffffff;
	display: flex;	
	justify-content: space-between;
	margin: 0.2rem auto;
	padding: 2rem;
}
.cart-header{
}
.cart-header__prodName{
	margin: 0;
	min-width: 100px;
	font-weight: 600;
	color: #495057 !important;
	font-size:1.1rem;
}
.cart-header__quantity{
	color: #495057 !important;
	margin: 0;
	font-size: 0.9rem;
}

.cart-header__priceHolder{
	display: flex;
	align-items: center;
	gap: 2rem;
}
.cart-header__price{
	margin: 0;
	color: #495057 !important;
	font-weight: 600;
	font-size: 1rem;
}
.removeIcon{
	background-color: transparent !important;
	border: none;
	color: #E5383B !important;
	transition: 0.3s;

}
.removeIcon:hover{
	color: #e3272a !important; 
	margin-bottom: 0.3rem;
}
.remove-icon{
	pointer-events:none;
}
.cart-view{
	max-width: 600px;
	min-width: 320px;
	margin: 0 auto;	
}
.cart-view-header{
	color: #424242;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2rem;		
	font-weight: bold;
	margin-bottom: 0;
}
.cart-view__chkOutBtn{
	border-radius: 0;
	border: none;
	margin: 1rem 0 1rem auto;
	display: block;
	font-size: 0.9rem;
	background-color: #8FA253;
	transition: 0.3s;
}
.cart-view__chkOutBtn:hover{
	background-color: #5F7F39;
}
.cart-empty-img{
	max-width: 200px;
	min-width: 100px;
	margin: 1rem auto;
	display: block;
}
.cart-empty-box{
	text-align: center;
	padding: 2rem;
	border: 1px solid #c4c4c4;
}
.cart-empty-box__title{
	font-weight: bold;
	color: #6C757D;
	font-size: 3rem; 
	margin-bottom: 0;
}
.cart-empty-box__btn{
	border-radius: 0;
	font-weight: 0.9rem;
	max-width: 200px;
	min-width: 200px;
}
.cart-empty-box__subTitle{
	color: #6C757D;
	font-size: 1.3rem;
}