@import './GoogleFont.css';

.login-container{}

.form-box{
	border:1px solid #E2E2E2;
	padding: 2rem;
	margin: 6rem auto;
	max-width:450px;
}
.login-header{
	color: #5F7F39;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 0;
}
.login-subHeader{

}

.form-option-box{
	display: flex;
	justify-content: space-around;
	margin:1rem 0;
	font-size:0.9rem;
	text-decoration: underline;
}
.form-label-login{
	font-size: 0.9rem;
}
.btn-login{
	background-color:#8FA253;
	border-radius: 0;
	border: none;
	display: block;
	margin: 2rem auto;
	min-width:150px;
	transition: 0.3s;
}
.btn-login:hover{
	background-color:#5F7F39;
}

